<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Services for you</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


</head>
<body>
<div th:replace="fragments/commons">  </div>

<div class="container">


    <form style="width:300px; margin:auto;" th:action="@{/offers/add}"
          th:method="post"
          th:object="${addOfferModel}">
        <h1>Add offer</h1>
        <div class="form-group">
            <label class="text-center text-white font-weight-bold" for="category">Category</label>
            <select
                    id="category"
                    name="category"
                    th:errorclass="is-invalid"
                    class="form-control">
                <option value="">- Select category -</option>
                <option th:each="c : ${T(com.example.servicesforyou.models.enums.ServicesCategoryEnum).values()}"
                        th:text="${c}"
                        th:value="${c}"
                        th:selected="${c} == *{category}">
                    Category
                </option>
            </select>
            <p class="invalid-feedback errors alert alert-danger">
                Category is required.
            </p>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input
                    th:field="*{description}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    id="description"
                    placeholder="Description">
            <p class="invalid-feedback errors alert alert-danger">
                Description is required.
            </p>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input
                    type="number"
                    th:field="*{price}"
                    th:errorclass="is-invalid"
                    class="form-control"
                    id="price"
                    min = "0"
                    placeholder="Price">
            <p class="invalid-feedback errors alert alert-danger">
                Price is required.
            </p>
        </div>

        <button type="submit" class="btn btn-default" >Add</button>
    </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<main>

</main>

<footer class="text-center text-lg-start bg-white text-muted">

    <!-- Section: Links  -->
    <section class="">
        <div class="container1 text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->

                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Categories
                    </h6>
                    <!-- TODO: make links to my services ordered by categories when they are ready! -->
                    <p>
                        <a href="#!" class="text-reset">Angular</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">React</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Vue</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Laravel</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Home</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">FQAs</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact us</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i> Vidin, Bulgaria</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        servicesforyou@examproject.bg
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> +359 088 888 8888</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>