<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Services for you</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


</head>
<body>
<div th:replace="fragments/navbar">  </div>

<div class="container">


    <form style="width:300px; margin:auto;" th:action="@{/offers/add}"
          th:method="post"
          th:object="${addOfferModel}">
        <h1>Add offer</h1>
        <div class="form-group">
            <label class="text-center text-white font-weight-bold" for="category">Category</label>
            <select
                    id="category"
                    name="category"
                    th:errorclass="is-invalid"
                    class="form-control">
                <option value="">- Select category -</option>
                <option th:each="c : ${T(com.example.servicesforyou.models.enums.ServicesCategoryEnum).values()}"
                        th:text="${c}"
                        th:value="${c}"
                        th:selected="${c} == *{category}">
                    Category
                </option>
            </select>
            <p class="invalid-feedback errors alert alert-danger">
                Category is required.
            </p>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input
                    th:field="*{description}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    id="description"
                    placeholder="Description">
            <p class="invalid-feedback errors alert alert-danger">
                Description is required.
            </p>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input
                    type="number"
                    th:field="*{price}"
                    th:errorclass="is-invalid"
                    class="form-control"
                    id="price"
                    min = "0"
                    placeholder="Price">
            <p class="invalid-feedback errors alert alert-danger">
                Price is required.
            </p>
        </div>

        <button type="submit" class="btn btn-default" >Add</button>
    </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div th:replace="fragments/footer"></div>

</body>
</html>