<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Services for you</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>



<body>


<div th:replace="fragments/commons">  </div>



<div class="container-fluid">
    <h1 class="text-center text-black mt-5">
        Welcome! We are Services for you!
    </h1>
    <h2 class="text-center text-black mt-5">
       Looking for help when you don't have time to do some boring chores?
        That is why we are here! In our website you can find services from other people who can help you in your busy days.
    </h2>
    <h3 class="text-center text-black mt-5">
        And why don't you become part of our team? Send request to become seller here <a th:href="@{/users/send/request}">Become seller!</a>
    </h3>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</body>
</html>