<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Services for you</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


</head>
<body>
<div th:replace="fragments/navbar">  </div>

<div class="container">


    <form style="width:300px; margin: auto;" th:action="@{/users/login}"
          th:method="post" >
        <h1 class="text-center">Login</h1>
        <div
                class="form-group">
            <label for="username">Email address</label>
            <input
                    type="text"
                    th:value="${username}"
                    name = "username"
                    class="form-control"
                    id="username"
                    min = "2"
                    max = "30"
                    placeholder="Email"
            >
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                    type="password"
                    name = "password"
                    class="form-control"
                    id="password"
                    min = "6"
                    placeholder="Password">
        </div>

        <p th:if="${fail}" class="invalid-feedback errors text-danger">
            Invalid username or password. Please try again.
        </p>

        <button type="submit" class="btn btn-default">Login</button>
    </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<div th:replace="fragments/footer"></div>

</body>
</html>