<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Services for you</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
<body>
<div th:replace="fragments/commons"></div>
<div class="container">
    <h2>Offer details</h2>
    <div th:object="${offer}" class="panel-group">
        <div class="panel panel-default" style="width: 600px; display: flex">
            <div class="panel-heading">Seller: <span th:text="*{sellerFullNameAndAge}"> </span></div>
            <div class="panel-body">Category: <span th:text="*{category}" ></span></div>
            <div class="panel-body">Price: <span th:text="*{price}"></span></div>
            <div class="panel-body">Contact: <span th:text="*{sellerPhoneAndEmail}"></span></div>
            <div class="card-body">
                <form
                        th:action=""
                        th:method="delete"
                >
                    <input type="submit" value="Delete">
                </form>
            </div>

        </div>


    </div>
</div>

</body>
</html>