<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Services for you</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


</head>
<body>
<div th:replace="fragments/commons">  </div>

<div class="container">


    <form style="width:300px; margin:auto;"  th:action="@{/users/register}"
          th:method="post"
          th:object="${userModel}">
        <h1 class="text-center">Register</h1>
    <form>
        <div class="form-group"  >
            <label for="firstName">First Name*</label>
            <input
                    th:field="*{firstName}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    id="firstName"
                    placeholder="First Name">
            <small class="invalid-feedback text-danger">NO</small>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
                    th:field="*{lastName}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    id="lastName"
                    placeholder="Last Name">
            <small class="invalid-feedback text-danger">NO</small>
        </div>
        <div class="form-group">
            <label for="email">Email*</label>
            <input
                    th:field="*{email}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="Email">
            <small class="invalid-feedback text-danger">NO</small>
        </div>
        <div class="form-group">
            <label for="age">Age*</label>
            <input
                    th:field="*{age}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    id="age"
                    placeholder="Age">
            <small class="invalid-feedback text-danger">NO</small>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone number*</label>
            <input
                    th:field="*{phoneNumber}"
                    th:errorclass="is-invalid"
                    type="text"
                    class="form-control"
                    id="phoneNumber"
                    placeholder="Phone number">
            <small class="invalid-feedback text-danger">NO</small>
        </div>
        <div class="form-group">
            <label class="text-center text-white font-weight-bold" for="town">Town</label>
            <select
                    id="town"
                    name="town"
                    th:errorclass="is-invalid"
                    class="form-control">
                <option value="">- Select town -</option>
                <option th:each="t : ${T(com.example.servicesforyou.models.enums.TownsEnum).values()}"
                        th:text="${t}"
                        th:value="${t}"
                        th:selected="${t} == *{town}">
                    Town
                </option>
            </select>
            <p class="invalid-feedback errors alert alert-danger">
                Town is required.
            </p>
        </div>

        <div class="form-group">
            <label for="password">Password*</label>
            <input
                    th:field="*{password}"
                    th:errorclass="is-invalid"
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Password">
            <small class="invalid-feedback text-danger">NO</small>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm password*</label>
            <input th:field="*{confirmPassword}"
                   th:errorclass="is-invalid"
                    type="password"
                   class="form-control"
                   id="confirmPassword"
                   placeholder="Confirm password">

        </div>
        <p class="invalid-feedback errors alert alert-danger">
            Confirmation password is required.
        </p>


        <button type="submit" class="btn btn-default" value="Register" >Register</button>
    </form>
    </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<main>

</main>
</body>
</html>