<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Services for you</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


</head>
<body>
<div th:replace="fragments/navbar">  </div>

<div class="container">


    <form style="width:300px; margin:auto;"  th:action="@{/users/send/request}"
          th:method="post" th:object="${requestModel}">
        <h1 class="text-center">Become a seller</h1>

        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input
                        th:field="*{email}"
                        th:errorclass="is-invalid"
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Email">
                <small class="invalid-feedback text-danger">NO</small>
            </div>
            <div class="form-group"  >
                <label for="firstName">First Name</label>
                <input
                        th:field="*{firstName}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        id="firstName"
                        placeholder="First Name">
                <small class="invalid-feedback text-danger">NO</small>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input
                        th:field="*{lastName}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        id="lastName"
                        placeholder="Last Name">
                <small class="invalid-feedback text-danger">NO</small>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input
                        th:field="*{description}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        id="description"
                        placeholder="Description">
                <small class="invalid-feedback text-danger">NO</small>
            </div>

            <button type="submit" class="btn btn-default" value="Send" >Send</button>
        </form>
    </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<main>

</main>
<div th:replace="fragments/footer"></div>

</body>
</html>