<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Services for you</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/commons">  </div>
<div class="container"  th:object="${user}">
    <h2>Profile</h2>
    <div class="panel-group" style="display: flex">
        <div class="panel panel-default">
            <div class="panel-heading">Name: <span th:text="*{userFullName}"></span></div>
            <div class="panel-body">Email: <span th:text="*{email}"></span></div>
            <div class="panel-body">Age: <span th:text="*{age}"></span></div>
            <div class="panel-body">Town: <span th:text="*{town}"></span></div>
            <div class="panel-body">Phone: <span th:text="*{phoneNumber}"></span></div>
        </div>


    </div>
</div>

</body>
</html>